.A {
	color:black;
	font-family:'Courgette', cursive;
}

.A:hover {
    color:orange;
 }

.Eu {
	color:black;
	font-family:'Courgette', cursive;
}

.Eu:hover {
   color:orange;
 }

.Au {
	color:black;
	font-family:'Courgette', cursive;
}

.Au:hover {
   color:orange;
 }

.Am {
	color:black;
	font-family:'Courgette', cursive;
}

.Am:hover {
   color:orange;
 }

.World {
	color:black;
	font-family:'Courgette', cursive;
}

.World:hover {
	 color:orange; 
}

